<a href="https://colab.research.google.com/github/Micael1980/Aula_Senai/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [1]:
w1, w2, w3 = 0.3, 0.2, 0.5
print(w1)
print(w2)
print(w3)

0.3
0.2
0.5

In [2]:
#dados climaticos da região A
regiaoA_temp = 22
regiaoA_chuva = 67
regiaoA_umid  = 65

In [ ]:
#Aplicando o modelo
regiaoA_goiaba = regiaoA_temp * w1 + regiaoA_chuva * w2 + regiaoA_umid * w3
print("Na região A a produção de {} toneladas por hectare".format(regiaoA_goiaba))

Na região A a produção de 52.5 toneladas por hectare

In [ ]:
RegiaoA = [22, 67, 65]
RegiaoB = [24, 88, 95]
RegiaoC = [17, 134, 50]
RegiaoD = [18, 96, 70]

In [ ]:
pesos = [w1, w2, w3]

In [3]:
nomes = ['Alice', 'Bob' , 'Carlie']
idadaes = [25, 30, 35]

# Combinando listas usando zip
lista_combinada = list(zip(nomes, idadaes))
print(lista_combinada)

[('Alice', 25), ('Bob', 30), ('Carlie', 35)]

In [4]:
def producao_goiaba(regiao, pesos):
  result = 0
  for x, w in zip(regiao, pesos):
       result += x * w
  return result

In [13]:
# produção da região A
print(producao_goiaba(RegiaoA,pesos))

NameError: name 'RegiaoA' is not defined

In [11]:
# produção da região B
print(producao_goiaba(RegiaoB,pesos))

NameError: name 'RegiaoB' is not defined

In [ ]:
#importando o numpy
import numpy as np
RegiaoA = np.array([22, 67, 65])
print(type(RegiaoA))
pesos = np.array([w1, w2, w3])
print(type(pesos))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [5]:
reg_a = np.dot(RegiaoA, pesos)
print('Regiao A: {}' . format(reg_a))

NameError: name 'np' is not defined

In [ ]:
#lista em Pyton
arr1 = list(range(2000000))
arr2 = list(range(1000000, 3000000))

#Vetor em Numpy
arr1_np = np.array(arr1)
arr2_np = np.array(arr2)



%%time
result = 0
for x1, x2 in zip(arr1, arr2):
  result += x1*x2
print(result)

UsageError: Line magic function `%%time` not found.

In [6]:
%%time
result = 0
for x1, x2 in zip(arr1, arr2):
  result += x1*x2
print(result)

NameError: name 'arr1' is not defined

In [ ]:
%%time
print(np.dot(arr1_np, arr2_np))

4666663666667000000
CPU times: user 7.79 ms, sys: 0 ns, total: 7.79 ms
Wall time: 6.65 ms

In [7]:
dados_climaticos =np.array([ [22, 67, 65],
                  [24, 88, 95],
                   [17, 134, 50],
                  [18, 96, 70], ])
print(dados_climaticos)

NameError: name 'np' is not defined

In [ ]:
print (dados_climaticos.shape)
print(pesos.shape)

(4, 3)
(3,)

In [9]:
print(pesos.dtype)
print('-----------')
print(dados_climaticos.dtype)

NameError: name 'pesos' is not defined

In [16]:
np.matmul(dados_climaticos, pesos)

NameError: name 'np' is not defined

In [18]:
import numpy as np

In [19]:
Micael_csv = np.genfromtxt('/content/Micael.csv', delimiter=',',)

In [22]:
Micael_csv

array([[23., 29., 95.],
       [24., 20., 21.],
       [18., 23., 16.],
       [19., 30., 36.]])

In [26]:
pesos = np.array([0.4, 0.2, 0.8])

In [27]:
rendimento = Micael_csv @ pesos

In [30]:
resultado = np.concatenate((Micael_csv, rendimento.reshape(4,1)),axis=1)

In [31]:
resultado

array([[23. , 29. , 95. , 91. ],
       [24. , 20. , 21. , 30.4],
       [18. , 23. , 16. , 24.6],
       [19. , 30. , 36. , 42.4]])

In [36]:
#agora é só salvar

np.savetxt('Micael_Resultado.csv',
resultado,
fmt='%.2f',
delimiter=',',
header ='Temperatura,precipitação,umidade,rendimento',
comments='')